@font-face {
    font-family: naruto;
    src: url(njnaruto.ttf);
}


@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(l.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.logo h2{
    font-size: 5vh;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor:default;
}

.navbar{
    padding: 10px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.menu{
    display: flex;
    margin: 0 0 0 15vh;
}

.menu li{
    list-style: none;

}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 0 5vh 0 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1vw;
    transition: .3s ease-in-out;
    
}

.menu li a:hover{
    font-weight: 2vw;
    color: #e86e38;
}

.search{
    width: 100%;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 10px;
}
.text{
    background: transparent;
    border-left:2px solid white ;
    border-top:2px solid white ;
    border-bottom:2px solid white ;
    width: 20vw;
    height: 2.5vw;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: start;
    font-size: 2vh;
    padding-left: 1vh;
    
}
.btn{
    width: 5vw;
    height: 2.8vw;
    padding: 0;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2vh;
    font-style: bold;
    font-weight: 400;
    background: white;
    border-color: white;
    cursor: pointer;
    transition: .3s ease-in-out;
}
/* ::placeholder{
    color: rgb(221, 220, 220);
} */

.btn:hover{
    background-color: #e86e38;
    border-color: #e86e38;
    color: white;

}

footer{
    background-color: black;
    color: white;
    width: 100%;
    height: 15vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    height: calc(100vh - 3vh - 29.8vh);
    padding: 20px;
    position: relative;
}

.title h1{
    margin-top: 4vh;
    margin-left: 3vh;
    color: #e86e38;
    font-family: naruto;
    font-size: 4vw;
}

.story{
   
    width: 50vw;
    color: white;
    margin-left: 3vh;
    margin-top: 5vh;
    font-size: 2.3vh;
    font-family:  'Ubuntu', sans-serif;
    letter-spacing: 1px;
    line-height: 25px;
    word-wrap: break-word;
}

.more{
    margin-left: 20px;
    margin-top: 5vh;
}

.explore{
    width: 20vh;
    height: 6vh;
    border-radius: 3vw;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.explore a{
    color: black;
    text-decoration: none;
    font-size: 2vh;
    transition: .1s ease-in-out;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.explore:hover{
    color: white;
    background-color: #e86e38;
}

.naruto
{
    width: 17vw;
    position: absolute;
    /* top: 19.5vh;*/
    right: 15vh; 
    bottom: 0;
}